# deploy scripts
.deploy.sh

# Hugo default output directory
public

# Hugo caching
resources

# Hugo /static/
# most stuff is too big, so ignore
static/audio
static/fonts
!static/icons
!static/js/vendor
static/video
static/zip
