body {
  &.page-template-page-fullsingle-split {
    & p, a {
      color: #eff4fb;
    }
  }
}

a {
  &.mini {
    font-size: 0.7rem;
    text-decoration: underline;

    &:hover {
      color: #ffffff;
      text-shadow: 0 0 2px #47bec7, 0 0 2px #47bec7;
    }
  }
}

button {
  &.fas {
    font-size: 1.25em;
    margin: 0 auto;
    padding: 0;
    width: 50%;

    &:hover {
      cursor: pointer;
    }
  }
}

h2 {
  clear: left;
  color: #dddddd;
  font-family: 'Lora', serif;
  font-size: 2rem;
  margin-bottom: 15px;
  margin-top: 10px;
}
h3 {
  color: #cccccc;
  font-family: 'Lora', serif;
  font-size: 1.75rem;
  margin-bottom: 5px;
}

#fullsingle {
  overflow-x: hidden;
}

.fs-split {
  margin-bottom: 20px;

  .split-image {
    background-size: cover;
    height: 60vw;
  }

  .split-video {
    width: 50%;
    height: 100vh;
  }

  .split-content {
    overflow-x: hidden;

    .split-content-vertically-center {
      max-width: none;
      padding: 30px 20px;

      .split-intro {
        font-size: 64px;
        font-weight: 600;
        letter-spacing: -2px;
        line-height: 60px;
        position: relative;
        z-index: 1;

        div {
          &.tagchars {
            font-size: 44px;
            left: 20px;
            letter-spacing: -2px;
            opacity: 0.2;
            position: absolute;
            top: 22px;
            z-index: 0;
          }
        }

        h1 {
          color: #47bec7;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0.4px;
          line-height: 16px;
          margin-bottom: 0;
          text-transform: uppercase;
        }

        span {
          &.tagline {
            font-size: 60px;
            line-height: 10px;
          }
        }
      }

      .split-bio {
        font-family: 'Lora', serif;
        line-height: 29px;
      }

      .split-characters {
        font-family: 'Lora', serif;
        line-height: 29px;
        margin-bottom: 25px;

        .character {
          clear: left;
          margin-bottom: 25px;

          figure {
            background-color: #02111d;
            border: 2px solid #000000;
            float: left;
            margin: 5px 15px 10px 0;
            max-width: 100px;
            padding: 15px 15px 5px;

            img {
              height: 100%;
              max-width: 96px;
            }

            h3 {
              font-size: 1.5rem;
            }
          }

          p {
            font-size: 1.25rem;
            line-height: 1.33;
            padding-top: 5px;
          }
        }
      }

      .split-audio {
        object-fit: contain;
        object-position: 50% 50%;
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;

        // Soundcloud and Bandcamp
        iframe {
          height: auto;
          //left: 0;
          position: relative;
          //top: 0;
          width: 100%;
        }

        // Self-Hosted
        audio {
          width: 100%;
        }

        #audio-controls {
          display: flex;
          padding: 0;
        }

        #playlist {
          background: #666;
          height: auto;
          padding: 0;
          width: auto;

          li {
            display: grid;

            &.active {
              a {
                background: #153950;
                color: #5db0e6;
                text-decoration: none;

                div {
                  &.translation {
                    color: #85b2d0;
                  }
                }
              }
            }

            a {
              background: #333;
              color: #eeeedd;
              display: block;
              padding: 0 15px 5px;
              position: relative;
              z-index: 2;

              &:hover {
                background-color: #555;
              }

              label {
                clear: left;
                float: left;
                font-size: 0.8em;
                margin-right: 6px;
                position: relative;
                top: 2px;
              }

              div {
                &.titles {
                  float: left;
                  z-index: 1;

                  div {
                    &.translation {
                      color: #cdcdbd;
                      display: block;
                      font-size: 0.65em;
                      height: 10px;
                      position: relative;
                      top: -15px;
                    }
                  }
                }

                &.chars-bg {
                  color: #999;
                  float: left;
                  font-family: 'Noto Sans Japanese', serif;
                  font-size: 1.3em;
                  font-weight: 600;
                  opacity: 0.2;
                  position: absolute;
                  left: 10px;
                  top: 5px;
                  z-index: 0;
                }

                &.characters {
                  font-family: 'Noto Sans Japanese', serif;
                  font-weight: 400;
                  font-size: 0.8em;
                  float: right;
                  position: relative;
                  right: 5px;
                  top: 5px;
                }
              }
            }
          }
        }

        .downloads {
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 10px;

          a {
            color: #848d96;
            font-size: 0.8em;

            &:hover {
              color: #fff;
            }
          }
        }
      }

      .split-lists {
        .split-list {
          margin-bottom: 20px;

          h3 {
            color: #bcc3cb;
            margin-bottom: 15px;
          }

          ul {
            li {
              font-size: 0.7em;
              line-height: 12px;

              a {
                &:hover {
                  color: #47bec7;
                }
              }
            }
          }
        }
      }

      .split-credit {
        a {
          &:hover {
            color: #fff;
          }
        }

        p {
          margin-bottom: 10px;
        }
      }
    }
  }
}
  @media (min-width: 801px) {
    .fs-split {
      .split-content {
        .split-content-vertically-center {
          padding: 40px 40px 80px 40px;

          .split-intro {
            div {
              &.tagchars {
                left: 0;
              }
            }
          }

          .split-bio {
            padding: 20px 0;
          }

          .split-audio {
            #playlist {
              padding: 2px;

              li {
                a {
                  padding: 0 5px 5px 10px;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 1201px) {
    .fs-split {
      .split-content {
        .split-content-vertically-center {
          padding: 60px 60px 80px 60px;
        }
      }
    }
  }
