#fullsingle {
  overflow-x: hidden; }

.fs-split .split-intro {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 80px; }
  .fs-split .split-intro h1 {
    color: #47bec7;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 16px;
    margin-bottom: 0;
    text-transform: uppercase; }
  .fs-split .split-intro span.tagline {
    font-size: 60px;
    line-height: 10px; }

.fs-split .split-content {
  overflow-x: hidden; }

.fs-split .split-bio {
  font-family: 'Lora', serif;
  line-height: 29px;
  padding: 20px 0; }

.fs-split .split-image {
  background-size: cover; }

.fs-split .split-audio {
  object-fit: contain;
  object-position: 50% 50%;
  padding-bottom: 30px; }
  .fs-split .split-audio iframe {
    height: auto;
    position: relative;
    width: 100%; }
  .fs-split .split-audio audio {
    width: 100%; }
  .fs-split .split-audio #playlist {
    background: #666;
    height: auto;
    padding: 2px;
    width: auto; }
    .fs-split .split-audio #playlist li.active a {
      background: #153950;
      color: #5DB0E6;
      text-decoration: none; }
    .fs-split .split-audio #playlist li a {
      background: #333;
      color: #eeeedd;
      display: block;
      padding: 5px 5px 5px 8px; }
      .fs-split .split-audio #playlist li a:hover {
        background-color: #555; }
