<div class="split-credit">
  <p>
    Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
    <a href="https://www.flaticon.com/" title="Flaticon" class="mini">www.flaticon.com</a> is
    licensed by
    <a
      href="http://creativecommons.org/licenses/by/3.0/"
      title="Creative Commons BY 3.0"
      target="_blank"
      class="mini"
      >CC 3.0 BY</a
    >
  </p>

  <p>
    {{ .Site.Copyright | safeHTML }} -
    <a href="https://onepagelove.com/split" class="mini">Split Template</a> by
    <a href="https://onepagelove.com" class="mini">One Page Love</a>
  </p>

  {{ "<!--" | safeHTML }}
  {{ "To edit this credit you can remove the CC3.0 license for only $5 here: https://onepagelove.com/split" | safeHTML }}
  {{ "this really helps contribute towards us developing more templates and means the world to me!" | safeHTML }}
  {{ "Cheers, Rob (@robhope)" | safeHTML }}
  {{ "-->" | safeHTML }}
</div>
