<!DOCTYPE html>
<html lang="en-US">

<head>
  {{ partial "head" . }}
</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split">

    <!-- Video -->
    {{ if .Site.Params.visual.video.enable }}

      {{ partial "video" . }}

    {{ end }}

    <!-- Image -->
    {{ if .Site.Params.visual.image.enable }}

      <div class="split-image">

      </div>

    {{ end }}

    <!-- Content Side -->
    <div class="split-content">
      <div class="split-content-vertically-center">

        <!-- Intro -->
        {{ partial "intro" . }}

        <!-- Bio -->
        {{ partial "bio" . }}

        <!-- Audio -->
        {{ if .Site.Params.content.audio.enable }}

          {{ partial "audio" . }}

        {{ end }}

        <!-- Links -->
        {{ partial "links" . }}

        <!-- Footer -->
        {{ partial "footer" . }}

      </div>
    </div>

  </div>

  <footer id="footer-neb-host" style="background: #484848; border-top: 2px solid #000000; bottom: 0; color: #aaaaaa; display: table; font-family: 'Consolas', sans-serif; font-size: 12px; height: 18px; letter-spacing: initial; margin-top: 20px; padding: 5px 10px; position: fixed; width: 100%; text-align: left; z-index: 2">site by <a style="color: #ffffff; font-family: 'Consolas', sans-serif; font-size: 12px;" href="https://nebyoolae.com">nebyoolae</a></footer>

  <!-- JAVASCRIPTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- VENDOR -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script type="text/javascript" src="js/vendor/isMobile.min.js"></script>
  <!-- CUSTOM -->
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/app/av_switch.js"></script>
  <script type="text/javascript" src="js/app/playlist.js"></script>

</body>
</html>
