<!doctype html>
<html lang="en-US">
  <head>
    {{ partial "head" . }}
  </head>

  <body id="fullsingle" class="page-template-page-fullsingle-split">
    <div class="fs-split">
      <!-- prettier-ignore -->
      {{ if .Site.Params.visual.video.enable }}
        {{ partial "video" . }}
      {{ end }}

      <!-- Image -->
      {{ if .Site.Params.visual.image.enable }}
      <div class="split-image"></div>
      {{ end }}

      <!-- Content Side -->
      <div class="split-content">
        <div class="split-content-vertically-center">
          <!-- prettier-ignore -->
          {{ partial "intro" . }}
          {{ partial "nav" . }}
          {{ partial "bio" . }}
          {{ partial "steam" . }}
          {{ partial "news" . }}
          {{ partial "characters" . }}
          {{ partial "demo" . }}

          {{ if .Site.Params.content.soundtrack.enable }}
            {{ partial "soundtrack" . }}
          {{ end }}

          {{ partial "links" . }}
          {{ partial "kofi" . }}
          {{ partial "credit" . }}
        </div>
      </div>
    </div>

    {{ partial "footer" . }}
  </body>
</html>
