$image-background  : url('../../../images/background.png');

#fullsingle {
  overflow-x: hidden;
}

.fs-split  {
  .split-intro {
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 80px;

    h1 {
      color: #47bec7;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
      line-height: 16px;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    span {
      &.tagline {
        font-size: 60px;
        line-height: 10px;
      }
    }
  }

  .split-content {
    overflow-x: hidden;
  }

  .split-bio {
    font-family: 'Lora', serif;
    line-height: 29px;
    padding: 20px 0;
  }

  .split-image {
    background-size: cover;
  }

  .split-credit {
    a {
      &:hover {
        color: #fff;
      }
    }

    p {
      margin-bottom: 10px;
    }
  }
}

//-------------------------------------------------------------------------------
// Audios
//-------------------------------------------------------------------------------

.fs-split .split-audio {
  object-fit: contain;
  object-position: 50% 50%;
  padding-bottom: 30px;

  // Soundcloud/Bandcamp
  iframe {
    height: auto;
    //left: 0;
    position: relative;
    //top: 0;
    width: 100%;
  }

  // Self-Hosted

  audio {
    width: 100%;
  }

  #playlist {
    background: #666;
    height: auto;
    padding: 2px;
    width: auto;

    li {
      &.active {
        a {
          background: #153950;
          color: #5DB0E6;
          text-decoration: none;
        }
      }

      a {
        background: #333;
        color: #eeeedd;
        display: block;
        padding: 5px 5px 5px 8px;

        &:hover {
          background-color: #555;
        }
      }
    }
  }
}
