$image-background	: url('../../../images/background.png');

.split-intro {
	font-size: 64px;
  font-weight: 600;
	letter-spacing: -2px;
	line-height: 60px;

  h1 {
    color: #47bec7;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  span {
    &.tagline {
      line-height: 4px;
    }
  }
}

.split-bio {
	font-family: 'Lora', serif;
  line-height: 28px;
	padding: 20px 0;
}

.fs-split .split-image {
  background-size: contain;
  height: 100vh;
  width: 50%;
}

//-------------------------------------------------------------------------------
// Audios
//-------------------------------------------------------------------------------

.fs-split .split-audio {
	//object-fit: contain;
	//object-position: 50% 50%;
  padding-bottom: 30px;
	width: 100%;

  // Soundcloud/Bandcamp
  iframe {
    height: auto;
    //left: 0;
    position: relative;
    //top: 0;
    width: 100%;
  }

  // Self-Hosted

  audio {

  }

  #playlist {
    background: #666;
    height: auto;
    padding: 2px;

    li {
      &.active {
        a {
          color:#5DB0E6;
          text-decoration:none;
        }
      }

      a {
        color:#eeeedd;
        background:#333;
        padding:5px;
        display:block;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
